<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac pharetra diam. Fusce auctor nibh sed metus pharetra mollis. Curabitur vel nulla venenatis justo dignissim interdum. Sed eget ex quis metus sodales ultrices. Aliquam tempor vel lorem ut sodales. Sed eget dui at risus pellentesque malesuada. Fusce ultrices tortor et ultricies condimentum. Nunc luctus, tellus vel posuere eleifend, quam arcu efficitur libero, et sodales sapien tortor nec odio. Donec porta arcu id arcu placerat, eget tristique dolor aliquam.
        Quisque ut hendrerit sapien. Donec ut neque eros. Etiam et lorem id sem suscipit sagittis nec et arcu. Proin at gravida turpis, eu porta eros. Duis malesuada lectus nisi, ac viverra tortor pulvinar at. Maecenas iaculis auctor mauris, eget dapibus est feugiat vel. Vivamus velit dolor, finibus eget varius sit amet, tincidunt id felis.</p>
</article>
